.main-container {
  background-color: #2a2a3d;
  display: flex;
  justify-content: center;
  overflow-x: visible;
}

.Details {
  width: 80%;
  display: grid;
  grid-auto-flow: column;
  column-gap: 15px;
}

.Container {
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  height: 80vh;
  max-width: 90%;
}

.seasons-button-grid {
  display: grid;
  grid-auto-flow: row; 
  padding: 0 15px;

  max-height: 80vh; 
  width: 170px;
  overflow-y: scroll;
  overflow-x: hidden;
 
  scrollbar-width: thin;
  scrollbar-color: white rgb(42, 42, 61);
}

.btn-season {
  background-color: #fff;
  display: flex;
  width: 110%;
  padding: 12px;

  text-align: center;
  justify-content: center;
  align-items: center;
  
  color: #1d1d28;
  font-weight: bold;
  font-size: 15px;

  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none; 
}

.btn-season:hover {
  background-color: #1e1e2f;
  color: white;
  border-radius: 8px;
  transform: scale(1.05);
  cursor: pointer;
}

.season-block {
  position: absolute;
}

.dropdown-eps {
  display: none; 
  position: fixed;

  margin-left: 8px;
  white-space: normal;

  background-color: #1e1e2f;
  z-index: 1000; 
  padding: 5px 20px 20px 20px;
  border-radius: 5px; 

  width: 150px;
  max-height: 300px;
  overflow-y: auto; 
  scrollbar-width: thin;
  scrollbar-color: #555 #1e1e2f; 
}

li {
  text-align: center;
}

.dropdown-eps ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-eps li {
  padding: 8px 0;
  border-bottom: 1px solid #444; 
}

.dropdown-eps a {
  color: #fff;
  font-size: 15px;
}

.dropdown-eps a:hover {
  color: #66afe9;
  text-decoration: underline;
}

.season-block, .dropdown-container {
  position: relative; 
  display: block; 
  margin-bottom: 10px; 
  width: 100%;
}

.movie-title {
  color: white;
}

.title-poster {
  justify-content: flex-start;
}

.movie-poster {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.item-overview {
  color: lightgrey;
  padding-top: 0px;
}

.item-data {
  color: lightgrey;
  font-weight: bold;
}