<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  {% if request.endpoint not in ['login', 'register'] %}
  <nav class="topbar">
    <!-- Left: Logo + Navigation -->
    <div class="topbar-left">
      <a href="/" class="logo-box">
        <h2 class="logo">
          <span>STAMPER</span>
          <span class="emoji">🕹️</span>
        </h2>
      </a>
      <ul class="nav-links">
        <li><a href="/">🏠</a></li>
        <li><a href="{{url_for('favorites')}}">⭐</a></li>
        <li><a href="{{ url_for('profile' )}}">👤</a></li>
        <li><a href="{{ url_for('history') }}">🕘</a></li>
      </ul>
    </div>

    <!-- Center: Search Bar -->
    <div class="topbar-center">
      <div class="search">
        <label class="search__wrapper" aria-label="Search">
          <svg class="search__icon" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M15.5 14h-.79l-.28-.27a6.471 6.471 0 0 0 1.48-4.23C15.91 6.01 12.9 3 9.45 3S3 6.01 3 9.5 6.01 16 9.45 16c1.61 0 3.09-.59 4.23-1.48l.27.28v.79l4.25 4.25c.41.41 1.07.41 1.48 0 .41-.41.41-1.07 0-1.48L15.5 14zm-6.05 0C7.01 14 5 11.99 5 9.5S7.01 5 9.45 5s4.45 2.01 4.45 4.5S11.89 14 9.45 14z" />
          </svg>

          <input id="search-input"
                 type="text"
                 placeholder="Search..."
                 autocomplete="off"
                 aria-autocomplete="list"
                 aria-controls="search-results"
                 aria-expanded="false" />

          <button type="button" class="search__clear" aria-label="Clear search" hidden>&times;</button>
        </label>

        <!-- dropdown -->
        <ul id="search-results"
            class="search__results"
            role="listbox"
            aria-label="Search results"
            hidden>
        </ul>
      </div>
    </div>

    <!-- Right: Auth Buttons -->
    <div class="topbar-right">
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" class="btn-top">Logout</a>
      {% else %}
        <a href="{{ url_for('register') }}" class="btn-top">Register</a>
        <a href="{{ url_for('login') }}" class="btn-top">Login</a>
      {% endif %}
    </div>
    </a>
  </nav>
  {% endif %}

  <main role="main" class="main-content">
    <div class="main-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      {% block scripts %}
      {% endblock %}
    </div>
  </main>
  <script src="{{ url_for('static', filename='scripts/search_bar.js') }}"></script>
</body>

</html>